/*
 * Copy Right: Tencent ISUX
 * Project:开放平台应用中心
 * Comments:框架样式
 * Export to:应用中心
 * @author jeanne
 * @页面需要应用在不同的平台，而各个平台的宽度不一致
 * 朋友社区：960px；微博：800px；Qzone V5：895px/760px; Qzone V6：960px
*/
html{overflow-x:hidden;overflow-y:auto;}
/**html{overflow-x:hidden;overflow-y:auto;}*/
/*.invisible{position:absolute;left:-999em;}*/
.arrow_b{border-style:solid;border-width:5px;display:block;font-size:0;height:0;line-height:0;overflow:hidden;width:0;color:transparent;_border-style:solid dashed dashed dashed;border-color:#C3C3C3 transparent transparent;}
.page{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#FFF;font-family:"Microsoft Yahei"}
/*-- ico 开始 --*/
.ico{vertical-align:middle;display:-moz-inline-stack; display:inline-block;*font-size:0;background-repeat:no-repeat;}
/*-- ico 结束 --*/
/*-- head 开始 --*/
.head{height:30px;padding-top:15px;position:relative;}
h1 {margin:0 0 0 20px;width:64px;height:17px;float:left;_display:inline;}
h1 a{display:block;width:64px;height:17px;background-image:url(slice/framework/h1.png);background-repeat:no-repeat;line-height:300px;overflow:hidden;}
.head sup{width:34px;height:15px;background-image:url(slice/framework/sup.png);background-repeat:no-repeat;position:absolute;left:87px;top:16px}
.head sup span{display:none;}
.head .header_msg{font-weight:normal;font-size:12px;color:#999999;margin-left:130px;}
.head .extra_op{position:absolute;right:0;top:0;}
.head .extra_op .toggle_dropdown{font-size:13px;color:#333333;display:block;position:relative;padding-right:13px;zoom:1;float:left;margin-top:15px;_font-size:14px;}
.head .extra_op .toggle_dropdown .arrow_b{position:absolute;right:0;top:7px;}
.head .extra_op .hd_search{float:left;margin-left:15px;_display:inline;}
.head .hd_search{border:1px solid #EFEFEF;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;width:218px;height:25px;margin:12px 10px 0;position:relative;zoom:1;}
.head .hd_search input{width:190px;height:23px;line-height:23px\9;border:0 none;background-color:#FFF;margin-left:3px;color:#999999;}
.head .hd_search .btn_search{display:inline-block;*display:inline;zoom:1;background-image:url(slice/framework/btn_search.png);background-repeat:no-repeat;width:16px;height:16px;overflow:hidden;position:absolute;right:4px;top:4px;}
.head .hd_search .btn_search span{position:absolute;left:-999em;}
/*-- head 结束 --*/
/*-- layout 开始 --*/
.body{border-top:1px solid #F0F0F0;background-color:#F5F5F5;}
.left_col{width:182px;background-color:#F5F5F5;float:left;_margin-right:-3px;}
.main{margin-top:3px;background-color:#FFF;overflow:hidden;height:auto!important\9; min-height:1815px\9; height:2815px\9;}
/*-- layout 结束 --*/
/*-- left_col 开始 --*/
/*-- 导航区 开始 --*/
.mod_app_nav ul{padding:20px 0 0 10px;margin-bottom:-7px;}
.mod_app_nav li {padding:5px 0 6px;_padding:6px 0 5px;}
.mod_app_nav li a{height:25px;display:block;padding-left:10px;color:#535353;font-size:14px;line-height:25px;}
.mod_app_nav li a:hover{color:#D78888;}
.mod_app_nav li.nonce {background-color:#FFF;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
.mod_app_nav li a .ico{width:28px;height:25px;margin-right:15px;float:left;}
/*-- 导航区 结束 --*/
/*-- 左侧模块 开始 --*/
.mod_left_col{border-top:1px solid #EAEAEA;margin:20px 20px;}
.mod_left_col .inner{border-top:1px solid #fff;}
.mod_left_col h2{color:#333;font-size:14px;font-weight:normal;margin:16px 0 15px;}
.mod_left_col_appstore li{margin-bottom:15px;}
.mod_left_col_appstore .app_icon{display:block;}
.mod_left_col_appstore .app_icon img{border-radius:10px;-webkit-border-radius:10px; width:50px;height:50px;vertical-align:middle;}
.mod_left_col_appstore .app_txt{margin-top:-1px;}
.mod_left_col_appstore .app_txt p{margin-top:4px;}
/*-- 左侧模块 结束 --*/
/*-- 左侧广告位 开始 --*/
.mod_left_col_ad img{margin:20px 0 20px;width:142px;height:105px;}
/*-- 左侧广告位 结束 --*/
/*-- left_col 结束 --*/


