/*
 * Copy Right: Tencent ISUX
 * Project: 开放平台
 * Comments: 腾讯开发平台-appstore优化版本
 * @author: kundy
*/
@import url("reset.import.css");
@import url("global.import.css");
@import url("framework.import.css");

/*公用mod*/
.ico{display:inline-block;background-repeat:no-repeat;}
.textoverflow{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;-moz-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;text-overflow:ellipsis;max-width:100%;_width:100%}/*需要给出父元素的宽度，或指定本元素的宽度*/
.none{display:none!important}


/*框架*/
.wrap{width:960px;margin:0 auto;}
.main{border:#E8E8FF solid 1px; border-radius:6px;padding:15px;background:#F7FCFE;min-height:700px;}
.mod_copy{text-align:center;color:#666;border:#E8E8FF solid 1px; border-radius:6px;padding-top:20px;padding-bottom:20px;}


/*按钮*/
.button_s1{margin-right:10px;background-image:url(slice/button_g.png);border-radius:6px;color:#666;display:inline-block;height:26px;line-height:26px;width:50px;text-align:center;font-size:12px;}


/*顶部*/
.page .head{background:#0C6AB0;height:50px;position:relative;border-radius:6px;}
.page .head h1{color:#F7B527;font-size:26px;display:inline}
.page .head .mod_nav{position:absolute;bottom:15px;left:130px;}
.mod_nav li{float:left;margin-right:10px;border-radius:6px;border:#999 solid 2px;padding:2px 10px;}
.mod_nav li a{color:#DAECFF}
.mod_nav li a:hover{color:#F7B527}



/*更新框*/
.mod_set_box{background:#FFF;border:#333 solid 3px;border-radius:10px;position:absolute;left:200px;top:300px;width:300px;height:300px;}


/*项目列表*/
.project_box .hd{height:25px;border-bottom:#999 solid 1px;color:#77904E;font-size:14px;}
.project_box .bd{padding-top:10px;}

.project_list{width:100%;font-size:12px;}
.project_list thead td{font-size:14px;font-weight:bold;color:#8080C0}
.project_list  td{border-bottom:#D2E1F6 dashed 1px;padding:5px 10px;;}




/*模块列表*/
.module_box .hd{height:25px;border-bottom:#999 solid 1px;color:#77904E;font-size:14px;}
.module_box .bd{padding-top:10px;}

.module_list{width:100%;font-size:12px;}
.module_list thead td{font-size:14px;font-weight:bold;color:#8080C0}
.module_list  td{border-bottom:#D2E1F6 dashed 1px;padding:5px 10px;;}









