

.avatar_item{background-repeat:no-repeat;background-position:center top;}
.avatar_1{background-image:url(slice/avatar/1.32.png);width:40px;height:40px;}
.avatar_2{background-image:url(slice/avatar/2.32.png);width:40px;height:40px;}
.avatar_3{background-image:url(slice/avatar/3.32.png);width:40px;height:40px;}
.avatar_4{background-image:url(slice/avatar/4.32.png);width:40px;height:40px;}
.avatar_5{background-image:url(slice/avatar/5.32.png);width:40px;height:40px;}
.avatar_6{background-image:url(slice/avatar/6.32.png);width:40px;height:40px;}
.avatar_7{background-image:url(slice/avatar/7.32.png);width:40px;height:40px;}
.avatar_8{background-image:url(slice/avatar/8.32.png);width:40px;height:40px;}
.avatar_9{background-image:url(slice/avatar/9.32.png);width:40px;height:40px;}
.avatar_10{background-image:url(slice/avatar/10.32.png);width:40px;height:40px;}
.avatar_11{background-image:url(slice/avatar/11.32.png);width:40px;height:40px;}
.avatar_12{background-image:url(slice/avatar/12.32.png);width:40px;height:40px;}
.avatar_13{background-image:url(slice/avatar/13.32.png);width:40px;height:40px;}
.avatar_14{background-image:url(slice/avatar/14.32.png);width:40px;height:40px;}
.avatar_15{background-image:url(slice/avatar/15.32.png);width:40px;height:40px;}
.avatar_16{background-image:url(slice/avatar/16.32.png);width:40px;height:40px;}
.avatar_17{background-image:url(slice/avatar/17.32.png);width:40px;height:40px;}
.avatar_18{background-image:url(slice/avatar/18.32.png);width:40px;height:40px;}
.avatar_19{background-image:url(slice/avatar/19.32.png);width:40px;height:40px;}
.avatar_20{background-image:url(slice/avatar/20.32.png);width:40px;height:40px;}
.avatar_21{background-image:url(slice/avatar/21.32.png);width:40px;height:40px;}
.avatar_22{background-image:url(slice/avatar/22.32.png);width:40px;height:40px;}
.avatar_23{background-image:url(slice/avatar/23.32.png);width:40px;height:40px;}
.avatar_24{background-image:url(slice/avatar/24.32.png);width:40px;height:40px;}
.avatar_25{background-image:url(slice/avatar/25.32.png);width:40px;height:40px;}
.avatar_26{background-image:url(slice/avatar/26.32.png);width:40px;height:40px;}
.avatar_27{background-image:url(slice/avatar/27.32.png);width:40px;height:40px;}
.avatar_28{background-image:url(slice/avatar/28.32.png);width:40px;height:40px;}
.avatar_29{background-image:url(slice/avatar/29.32.png);width:40px;height:40px;}
.avatar_30{background-image:url(slice/avatar/30.32.png);width:40px;height:40px;}
.avatar_31{background-image:url(slice/avatar/31.32.png);width:40px;height:40px;}
.avatar_32{background-image:url(slice/avatar/32.32.png);width:40px;height:40px;}
.avatar_33{background-image:url(slice/avatar/33.32.png);width:40px;height:40px;}
.avatar_34{background-image:url(slice/avatar/34.32.png);width:40px;height:40px;}
.avatar_35{background-image:url(slice/avatar/35.32.png);width:40px;height:40px;}
.avatar_36{background-image:url(slice/avatar/36.32.png);width:40px;height:40px;}
.avatar_37{background-image:url(slice/avatar/37.32.png);width:40px;height:40px;}
.avatar_38{background-image:url(slice/avatar/38.32.png);width:40px;height:40px;}
.avatar_39{background-image:url(slice/avatar/39.32.png);width:40px;height:40px;}
.avatar_40{background-image:url(slice/avatar/40.32.png);width:40px;height:40px;}
.avatar_41{background-image:url(slice/avatar/41.32.png);width:40px;height:40px;}
.avatar_42{background-image:url(slice/avatar/42.32.png);width:40px;height:40px;}
.avatar_43{background-image:url(slice/avatar/43.32.png);width:40px;height:40px;}
.avatar_44{background-image:url(slice/avatar/44.32.png);width:40px;height:40px;}
.avatar_45{background-image:url(slice/avatar/45.32.png);width:40px;height:40px;}
.avatar_46{background-image:url(slice/avatar/46.32.png);width:40px;height:40px;}
.avatar_47{background-image:url(slice/avatar/47.32.png);width:40px;height:40px;}
.avatar_48{background-image:url(slice/avatar/48.32.png);width:40px;height:40px;}
.avatar_49{background-image:url(slice/avatar/49.32.png);width:40px;height:40px;}
.avatar_50{background-image:url(slice/avatar/50.32.png);width:40px;height:40px;}
.avatar_51{background-image:url(slice/avatar/51.32.png);width:40px;height:40px;}
.avatar_52{background-image:url(slice/avatar/52.32.png);width:40px;height:40px;}
.avatar_53{background-image:url(slice/avatar/53.32.png);width:40px;height:40px;}
.avatar_54{background-image:url(slice/avatar/54.32.png);width:40px;height:40px;}
.avatar_55{background-image:url(slice/avatar/55.32.png);width:40px;height:40px;}
.avatar_56{background-image:url(slice/avatar/56.32.png);width:40px;height:40px;}
.avatar_57{background-image:url(slice/avatar/57.32.png);width:40px;height:40px;}
.avatar_58{background-image:url(slice/avatar/58.32.png);width:40px;height:40px;}
.avatar_59{background-image:url(slice/avatar/59.32.png);width:40px;height:40px;}











