.avatar_item{background-repeat:no-repeat;background-position:center top}
.avatar_1{background-image:url(sprite/avatar-32.png);background-position:0 0;width:40px;height:40px}
.avatar_2{background-image:url(sprite/avatar-32.png);background-position:-41px 0;width:40px;height:40px}
.avatar_3{background-image:url(sprite/avatar-32.png);background-position:-82px 0;width:40px;height:40px}
.avatar_4{background-image:url(sprite/avatar-32.png);background-position:-123px 0;width:40px;height:40px}
.avatar_5{background-image:url(sprite/avatar-32.png);background-position:-164px 0;width:40px;height:40px}
.avatar_6{background-image:url(sprite/avatar-32.png);background-position:-205px 0;width:40px;height:40px}
.avatar_7{background-image:url(sprite/avatar-32.png);background-position:-246px 0;width:40px;height:40px}
.avatar_8{background-image:url(sprite/avatar-32.png);background-position:-287px 0;width:40px;height:40px}
.avatar_9{background-image:url(sprite/avatar-32.png);background-position:-328px 0;width:40px;height:40px}
.avatar_10{background-image:url(sprite/avatar-32.png);background-position:-369px 0;width:40px;height:40px}
.avatar_11{background-image:url(sprite/avatar-32.png);background-position:-410px 0;width:40px;height:40px}
.avatar_12{background-image:url(sprite/avatar-32.png);background-position:-451px 0;width:40px;height:40px}
.avatar_13{background-image:url(sprite/avatar-32.png);background-position:-492px 0;width:40px;height:40px}
.avatar_14{background-image:url(sprite/avatar-32.png);background-position:-533px 0;width:40px;height:40px}
.avatar_15{background-image:url(sprite/avatar-32.png);background-position:-574px 0;width:40px;height:40px}
.avatar_16{background-image:url(sprite/avatar-32.png);background-position:-615px 0;width:40px;height:40px}
.avatar_17{background-image:url(sprite/avatar-32.png);background-position:-656px 0;width:40px;height:40px}
.avatar_18{background-image:url(sprite/avatar-32.png);background-position:-697px 0;width:40px;height:40px}
.avatar_19{background-image:url(sprite/avatar-32.png);background-position:-738px 0;width:40px;height:40px}
.avatar_20{background-image:url(sprite/avatar-32.png);background-position:-779px 0;width:40px;height:40px}
.avatar_21{background-image:url(sprite/avatar-32.png);background-position:-820px 0;width:40px;height:40px}
.avatar_22{background-image:url(sprite/avatar-32.png);background-position:-861px 0;width:40px;height:40px}
.avatar_23{background-image:url(sprite/avatar-32.png);background-position:-902px 0;width:40px;height:40px}
.avatar_24{background-image:url(sprite/avatar-32.png);background-position:-943px 0;width:40px;height:40px}
.avatar_25{background-image:url(sprite/avatar-32.png);background-position:-984px 0;width:40px;height:40px}
.avatar_26{background-image:url(sprite/avatar-32.png);background-position:-1025px 0;width:40px;height:40px}
.avatar_27{background-image:url(sprite/avatar-32.png);background-position:-1066px 0;width:40px;height:40px}
.avatar_28{background-image:url(sprite/avatar-32.png);background-position:-1107px 0;width:40px;height:40px}
.avatar_29{background-image:url(sprite/avatar-32.png);background-position:-1148px 0;width:40px;height:40px}
.avatar_30{background-image:url(sprite/avatar-32.png);background-position:-1189px 0;width:40px;height:40px}
.avatar_31{background-image:url(sprite/avatar-32.png);background-position:-1230px 0;width:40px;height:40px}
.avatar_32{background-image:url(sprite/avatar-32.png);background-position:-1271px 0;width:40px;height:40px}
.avatar_33{background-image:url(sprite/avatar-32.png);background-position:-1312px 0;width:40px;height:40px}
.avatar_34{background-image:url(sprite/avatar-32.png);background-position:-1353px 0;width:40px;height:40px}
.avatar_35{background-image:url(sprite/avatar-32.png);background-position:-1394px 0;width:40px;height:40px}
.avatar_36{background-image:url(sprite/avatar-32.png);background-position:-1435px 0;width:40px;height:40px}
.avatar_37{background-image:url(sprite/avatar-32.png);background-position:-1476px 0;width:40px;height:40px}
.avatar_38{background-image:url(sprite/avatar-32.png);background-position:-1517px 0;width:40px;height:40px}
.avatar_39{background-image:url(sprite/avatar-32.png);background-position:-1558px 0;width:40px;height:40px}
.avatar_40{background-image:url(sprite/avatar-32.png);background-position:-1599px 0;width:40px;height:40px}
.avatar_41{background-image:url(sprite/avatar-32.png);background-position:-1640px 0;width:40px;height:40px}
.avatar_42{background-image:url(sprite/avatar-32.png);background-position:-1681px 0;width:40px;height:40px}
.avatar_43{background-image:url(sprite/avatar-32.png);background-position:-1722px 0;width:40px;height:40px}
.avatar_44{background-image:url(sprite/avatar-32.png);background-position:-1763px 0;width:40px;height:40px}
.avatar_45{background-image:url(sprite/avatar-32.png);background-position:-1804px 0;width:40px;height:40px}
.avatar_46{background-image:url(sprite/avatar-32.png);background-position:-1845px 0;width:40px;height:40px}
.avatar_47{background-image:url(sprite/avatar-32.png);background-position:-1886px 0;width:40px;height:40px}
.avatar_48{background-image:url(sprite/avatar-32.png);background-position:-1927px 0;width:40px;height:40px}
.avatar_49{background-image:url(sprite/avatar-32.png);background-position:-1968px 0;width:40px;height:40px}
.avatar_50{background-image:url(sprite/avatar-32.png);background-position:-2009px 0;width:40px;height:40px}
.avatar_51{background-image:url(sprite/avatar-32.png);background-position:-2050px 0;width:40px;height:40px}
.avatar_52{background-image:url(sprite/avatar-32.png);background-position:-2091px 0;width:40px;height:40px}
.avatar_53{background-image:url(sprite/avatar-32.png);background-position:-2132px 0;width:40px;height:40px}
.avatar_54{background-image:url(sprite/avatar-32.png);background-position:-2173px 0;width:40px;height:40px}
.avatar_55{background-image:url(sprite/avatar-32.png);background-position:-2214px 0;width:40px;height:40px}
.avatar_56{background-image:url(sprite/avatar-32.png);background-position:-2255px 0;width:40px;height:40px}
.avatar_57{background-image:url(sprite/avatar-32.png);background-position:-2296px 0;width:40px;height:40px}
.avatar_58{background-image:url(sprite/avatar-32.png);background-position:-2337px 0;width:40px;height:40px}
.avatar_59{background-image:url(sprite/avatar-32.png);background-position:-2378px 0;width:40px;height:40px}
#GeneratedByCssGaga184{transform:rotate(20121118014124deg)}